<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_NadezhdaLinnik" translate="label" sortOrder="10">
            <label>Amasty NadezhdaLinnik Module</label>
        </tab>
        <section id="linnik_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>NadezhdaLinnik Module Config</label>
            <tab>Amasty_NadezhdaLinnik</tab>
            <resource>Amasty_NadezhdaLinnik::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="greeting_text" type="textarea" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Greeting Text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="show_qty" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Quantity Field on StoreFront</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="default_qty" type="text" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quantity by Default</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
